---
import Heading from "@components/Heading.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <Heading title="Blog" subtitle="See what I am up to" />
  <p class="text-warning text-3xl font-medium text-center">Coming soon</p>
</BaseLayout>
