---
import HoverSpan from "@components/HoverSpan.astro";

import me from "@assets/sbc-logo-about.svg";
import { Image } from "astro:assets";
---

<section id="about" class="max-w-5xl mx-auto">
  <div
    class="mx-8 flex grid-cols-2 flex-col-reverse gap-16 py-8 md:grid md:gap-0"
  >
  <div class="m-auto">
    <h1 class="text-xl md:text-3xl font-black text-primary">About Us</h1>
    <p class="mt-2 text-balance group">
      Senior Blockchain Company (SBC) is a trailblazer in the fields of 
      <HoverSpan>blockchain technology</HoverSpan> and 
      <HoverSpan>AI solutions</HoverSpan>, committed to transforming industries through innovation. 
      We excel in building <HoverSpan>secure</HoverSpan> and 
      <HoverSpan>scalable systems</HoverSpan> that empower businesses, including 
      <HoverSpan>decentralized platforms</HoverSpan>, 
      <HoverSpan>smart contract frameworks</HoverSpan>, and 
      <HoverSpan>AI-driven tools</HoverSpan>. Leveraging our expertise in 
      <HoverSpan>programming</HoverSpan>, 
      <HoverSpan>cybersecurity</HoverSpan>, and tailored 
      <HoverSpan>consulting services</HoverSpan>, we enable organizations to simplify complex challenges, achieve sustainable growth, and seize new opportunities in the evolving digital landscape.
    </p>
  </div>
  
  
  
    <Image
      src={me}
      alt="me:)"
      quality="mid"
      loading="lazy"
      class="my-auto ml-auto mr-auto w-3/4 md:mr-0 border-2 border-base-300 rounded-box duration-200 hover:shadow-lg shadow-sm"
    />
  </div>
</section>
