:root {
    --primary: #714B67;
    --gray: #8F8F8F;
    --secondary: #017E84;
    --learning-partner: #E46E78;
    --ready-partner: #21B799;
    --silver-partner: #5B899E;
    --gold-partner: #E4A900;
    --white: #ffffff;
    --background-color: var(--white);
    --text-color: var(--gray);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

button {
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary);
}

.dark {
    --background-color: var(--gray);
    --text-color: var(--white);
}
