---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore Senior Blockchain on GitHub"
    url="https://github.com/sbc-om/sbc-om.github.io"
  />

  <HeroSection
    title=`Equip Your Projects with <span
        class="text-yellow-500 dark:text-yellow-400">Senior Blockchain</span>`
    subTitle="Top-quality blockchain solutions and cutting-edge technology for your business needs."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    src={heroImage}
    alt="Senior Blockchain product showcasing advanced blockchain tools"
  />

  <FeaturesGeneral
    title="Leading the Future of Blockchain"
    subTitle="At Senior Blockchain, we provide scalable and secure solutions to meet the growing demands of blockchain technology. Our robust services are designed to enhance your business capabilities."
    src={featureImage}
    alt="Senior Blockchain's innovative solutions"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">Senior Blockchain</span>'s Solutions for Your Business`
    tabs={[
      {
        heading: "Blockchain Tools",
        content:
          "Empower your business with Senior Blockchain's advanced tools. Our solutions offer enhanced security, transparency, and scalability for any project.",
        svg: "tools",
        src: tools,
        alt: "Blockchain tools for enhancing business efficiency",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content:
          "Easily manage your blockchain projects with our user-friendly dashboards. Track and optimize performance seamlessly with our intuitive interface.",
        svg: "dashboard",
        src: dashboard,
        alt: "Senior Blockchain's user-friendly dashboard",
        second: true,
      },
      {
        heading: "Advanced Features",
        content:
          "Streamline your business processes with Senior Blockchain’s robust features, designed to simplify operations and deliver outstanding results.",
        svg: "house",
        src: construction,
        alt: "Advanced blockchain features for businesses",
      },
    ]}
  />

</MainLayout>
