---
interface Props {
  title: string;
  subtitle: string;
}
const { title, subtitle } = Astro.props;
---

<div class="my-16 text-center">
  <h1 class="text-4xl md:text-7xl font-black mb-4 text-primary">{title}</h1>
  <h4 class="md:text-2xl font-semibold italic">{subtitle}</h4>
</div>
